extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/admin.css")

block content
    .admin
        form.row(action="/admin/product", method="post")
            .column
                label(for="book-name") Name of the Book
                input(type="text", name="name" id="name")
            .column
                label(for="price") Price
                input(type="text", name="price" id="price")
            .column
                label(for="author") Author
                input(type="text", name="author" id="author")
            .column
                label.display-text(for="description") Description
                textarea(name="description", cols="24", rows="4" id="description")
            .column
                label(for="isbn") ImageURL
                input(type="text", name="image" id="image")
            .column
                button.btn.btn-success(type="submit") Add Book