<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Shop
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        block styles
    body
        .card.text-center
            .card-header.header-nav
                ul.nav.nav-pills.header-items
                    li.nav-item.option-item
                        a.nav-link(href="/" class=(path === "/" ? 'active' : '')) Shop
                    li.nav-item.option-item
                        a.nav-link(href="/products" class=(path === "/products" ? 'active' : '')) Products
                    li.nav-item.option-item
                        a.nav-link(href="/cart" class=(path === "/cart" ? 'active' : '')) Cart
                    li.nav-item.option-item
                        a.nav-link(href="/admin/add-product" class=(path=== "/admin/add-product")? 'active' : '' ) Add Product
                    li.nav-item.option-item
                        a.nav-link(href="/admin/product" class=(path=== "/admin/product")? 'active' : '' ) Admin Product
        block content           