<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet")
        block styles
    body
        .text-center
            .header-nav
                ul.nav.nav-pills.header-items
                    li.nav-item.option-item
                        a.nav-link.option-item(href="/" class=(path=== "/")? 'active' : '') Products
                    li.nav-item.option-item
                        a.nav-link.option-item(href="/cart" class=(path=== "/cart")? 'active' : '') Cart
                    li.nav-item.option-item
                        a.nav-link.option-item(href="/admin/add-product" class=(path=== "/admin/add-product")? 'active' : '' ) Add Product
                    li.nav-item.option-item
                        a.nav-link.option-item(href="/admin/products" class=(path=== "/admin/products")? 'active' : '' ) Admin Product
        .prodcontainer
            block content           