.admin {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row {
  width: 200px;
}

.column {
  padding: 8px;
}

.column label {
  display: block;
  margin-bottom: 4px;
  color: #333333;
}

.column input,
textarea {
  display: block;
  width: 100%;
  padding: 4px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  outline: none;
}
.display-text {
  color: #2c3e50;
}
.btn {
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-transform: uppercase;
}
