.product-nav {
  text-align: center;
}

.display-text {
  font-weight: bold;
  display: block;
  font-size: 16px;
  margin: 8px;
  padding: 8px;
  color: #2c3e50;
}
.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-display {
  margin: 24px;
  padding: 8px 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.product-display:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.product-img {
  height: 200px;
  width: 200px;
}

.product-attr {
  padding: 4px 0;
}
.labels {
  font-weight: bold;
  color: #2c3e50;
}
.value {
  font-weight: normal;
}
.btn {
  margin: 8px;
  padding: 8px 16px;
}
