extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/shop.css")

block content
    .product-nav
        if prods.length > 0
            .display-text The list of products are 
            .products
                each prod in prods
                    .product-display
                        .product-attr.labels #{prod.name} 
                        .product-attr.value  #{prod.image}
                        .product-attr.value  #{prod.description}
        else
            .display-text No Products found